includes:
  - /var/www/html/plugins/RerIntranetSubnetwork/vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  excludePaths:
    - /var/www/html/plugins/RerIntranetSubnetwork/vendor
  bootstrapFiles:
    - /var/www/html/plugins/RerIntranetSubnetwork/tests/ci/phpstan.php
